body {
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-weight: bold;
}

.moving-text {
  display: inline-block;
  position: relative;
  animation: moveUp 3s linear infinite;
}

/* Animation keyframes */
@keyframes moveUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}



/* Product Images */
.card img {
  height: 220px;
  object-fit: contain;
  padding: 10px;

}

.card:hover {
  background-color: #75c7d6; /* light blue */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);

}

.card button:hover {
  background: linear-gradient(135deg, yellow, white);
  background-position:left center; /* move gradient */
  color: black;
}

/* Footer */
footer {
  font-size: 0.9rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}